!!!

html
    head
        block head

            meta(charset='utf8')

            title dot-zombie

            link(rel='stylesheet', href='/css/burner.min.css')
            link(rel='stylesheet', href='/css/Flora.min.css')
            link(rel='stylesheet', href='/css/dotZombie.css')

            script(src='/js/burner.js')
            script(src='/js/Flora.js')
            


        block body

            body
                script(src='js/dotZombie.js')